/* general */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
a {
 text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
.clickable:hover {
transform: scale(1.1);
}
.clickable:hover a {
 text-decoration: none !important;
}
header, main, footer {
width: 100%;
}
html, body {
height: 100%;
}
body, main, .content {
min-height: 100%;
}


/* header */
header {
  position: fixed;
  top: 0;
  z-index: 5;
  height:5em;
  border-bottom: 2px solid #FAC9B8;
  background-color: #2F243A;
}
header li {
 list-style-type: none;
}
.logo {
  background-color: inherit;
  width: min(40vw, 4em);
  position: relative;
}
.grow {
font-family: 'Allura';
color: white;
}
.grow:hover {
color: white;
}
.logoname {
  display: inline-block;
  padding-left: 0.1em;
  color: white !important;
  font-size: 3em !important;
  position: absolute;
  vertical-align: center;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    padding: 0 7em 0 7em;
}
.menu {
  display: flex;
  gap: 3em;
  font-size: 1.5em;
  padding-top: 0.5em !important;
}
.menu a {
  position: relative;
  color: white !important;
}
.food {
  position: relative;
}
.dropdown {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  border-top: 2px solid #2F243A;
  font-size: 0.8em;
  top: 100%;
  right: -100%;
  padding-left: 2em;
  width: 350%;
  text-align: center;
}
.dropdown a {
  display: block;
  background-color: #444054;
  color: white;
  border: 2px solid #2F243A;
  border-width: 0 2px 2px 2px;
  padding: 0.2em;
}
.food:hover .dropdown{
  display: inline-block;
  position: absolute;
 }
.menu a:hover, .navmenu a:hover{
  text-decoration: underline !important;
}
.active {
 text-decoration: underline !important;
 transform: scale(1.1);
}
.hamburgermenu, #toggle {
 text-align: right;
 font-size: 3em;
 margin-right: 0.5em;
 display: none;
}

/*body*/
main {
  background-color: #FAC9B8;
  padding-top: 8em;
  padding-bottom: 3em;
}

/*index*/
.landingpage {
  margin-bottom: 3em;
  background-image: url(../img/berries.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  text-align: center;
  background-attachment: fixed;
}
.landingpage h1, .landingpage p{
  background: none;
  color: white;
}
.landingpage h1 {
  font-size: 8em;
  padding-top: 1em;
}
.landingpage p {
  font-size: 3em;
  padding-top: 0.5em;
}
.emphasize {
  color: #DB8A74;
  background: none;
}
.content {
  text-align: center;
  font-size: 3em;
}
.menubutton, .contactbutton, .gallerybutton{
  display: inline-block;
  text-align: center;
  font-size: 0.6em;
  border: 2px solid #2F243A;
  border-radius: 10px;
  margin: 0.5em;
  padding: 0.4em;
  background-color: #444054;
  color: white !important;
}
.button{
font-size: 1.3em;
margin: 1em 1em 3em 1em;
}
.name {
  font-family: "Allura";font-size: 22px;
}

/*gallery*/
.gallery {
 margin-left: 2em;
 margin-right: 2em;
}
.gallerytxt {
 text-align: center;
 margin-top: 1em;
}

/*about*/
.about, .story, .philosophy{
font-size: 0.35em;
background-color: rgba(255, 255, 255, 0.4);
border-radius: 10px;
margin: 1em 7em 3em 7em;
display: flex;
justify-content: space-between;
align-items: center;
}
.aboutheading{
text-align: center;
}
.abouttext {
margin: 3em;
text-align: left;
}
.textwithlink{
text-align: center;
flex: 75%;
}
.imgabout{
width: 25em;
padding: 3em;
flex: 25%;
}

/*menu*/
.navmenu {
position: sticky;
top:3em;
background-color: #FAC9B8;
font-size: 0.5em;
list-style-type: none;
display: flex;
align-items: center;
justify-content: space-between !important;
padding: 0.5em 12em 0.5em 12em;
border-bottom: 1px solid #444054;
}
.navmenuitem{
color: black !important;
}
.menusection{
background-color: rgba(255, 255, 255, 0.4);
border-radius: 10px;
margin: 1em 5em 2em 5em;
padding: 1em 3em 1em 3em;
}
.sectionheader{
display: inline-block;
background-color: #DB8A74;
border: 2px solid #2F243A;
border-radius: 10px;
margin: 0.5em;
padding: 0.4em;
}
.menucategory{
border-bottom: 2px solid #2F243A;
margin-top: 1em;
}
.menuitemlist{
text-align: left;
margin: 0.5em;
}
.menuitem{
font-size: 0.4em;
list-style-type: none;
}
.menuitemdesc{
font-size: 0.4em;
margin-left: 1em;
}
.anchor{
display: block;
position: relative;
top: -7em;
visibility: hidden;
}

/*contact*/
.contact{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  padding-left: 7em;
  padding-right: 7em;
  font-size: 0.3em;
}
.form {
  flex: 65%;
  display: grid;
  grid: auto auto auto auto auto auto auto auto auto / 50% 50%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 3em 5em 1em 5em;
  margin: 1em;
}
.formelelemnt {
  display: block;
  text-align: left;
}
.reason, .reasonlabel, .reasonselect {
  display: inline-block;
}
input, select, textarea {
  width: 100%;
  padding: 1em;
  margin: 1em;
  box-sizing: border-box;
  resize: vertical;
  vertical-align: middle;
}
.firstname, .date{
  width: 95%;
}
#datefield{
  resize: none;
}
.submit {
  text-align: center;
}

/* form grid */
.name, .surname {
  grid-row: 1/2;
}
.name, .date {
  grid-column: 1/2;
}
.surname, .time {
  grid-column: 2/3;
}
.email {
  grid-row: 2/3;
}
.reason {
  grid-row: 3/4;
}
.phone {
  grid-row: 4/5;
}
.message {
  grid-row: 6/7;
}
.commment {
  grid-row: 7/8;
}
.recaptcha {
  grid-row: 8/9;
  margin: 0.5em;
/*  margin-bottom: -5em;*/
}
.submit {
  grid-row: 9/10;
z-index: 10;
/* margin-top: -5em;*/
}
.submit input {
  width: auto;
}
.email, .reason, .phone, .message, .comment, .submit, .recaptcha {
 grid-column: 1/3;
}
.g-recaptcha {
display: inline-block;
}
.recaptcha {
text-align: center;
height: 5.5em;
}
:required:focus {
  border: 1px solid #DB8A74;
  outline: none;
}

.details{
  flex: 35%;
  margin: 1em;
  text-align: left;
}
.details a {
  color: black !important;
}
.details h1{
  font-size: 1.5em;
}
.details .clickable:hover {
transform: scale(1.01);
}

.mapouter{
position:relative;
height: 13.5625em;
width: 28em;
}
.gmap_canvas {
overflow:hidden;
background:none!important;
height: 13.5625em;
width: 28em;
}
iframe {
width:100%;
height:100%;
}

/* footer */
footer {
position: absolute !important;
margin-bottom: 0 !important;
background-color: #2F243A;
padding: 1em;
}
footer li {
 list-style-type: none;
}
.footernavbar {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 10em 0 10em;
}
.footermenu {
  display: flex;
  flex: 70%;
  gap: 3em;
  font-size: 1em;
}
.footermenu a {
  color: white !important;
}
.social-icons {
  flex: 30%;
  text-align: right;
  padding: 0.5em;
}
footer img, .details img {
  height: 4em;
  padding: 0.5em;
}

/*responsiveness*/
@media only screen and (max-width: 1112px) {
main {
margin: 0;
padding-top: 5em;;
}
/*header*/
.navbar{
 padding: 0 1.5em 0 1.5em;
 font-size: 0.8em;
}

/*index*/
.landingpage {
height: 45vh;
background-image: url(../img/berriesmobile.jpg);
background-size: 100% auto;
}
.landingpage h1 {
  font-size: 4em;
  padding-top: 1em;
}
.landingpage p {
  font-size: 2em;
}
#my-pics {
width: 80% !important;
}

/*gallery*/
.gallery {
 margin: 0 0.5em 0.5em 0.5em;
}

/*about*/
.about, .story, .philosophy{
margin: 1.5em;
padding: 1.5em 0 1.5em 0;
display: block;
}
.abouttext{
margin: 1em;
}
.imgabout{
width: 40%;
padding: 0;
}
.button{
margin: 1em;
}

/*contact*/
.contact{
display: block;
margin: 1em;
}
.form{
padding: 2em;
}
.form, .details {
 flex: 100%;
 margin: 2em;
}
#datefield, #timefield{
display: block;
height: 70%;
}
.recaptcha {
/*display: block;*/
/*height: 5.5em;*/
}
.contact {
padding: 0;
margin: 2em;
}
.mapouter, .gmap_canvas{
height: 25em;
width: 100%;
}

/*menu*/
.navmenu{
top: 3em;
padding: 0.7em 0.5em 0.7em 0.5em;
font-size: 0.5em;
}
.menusection{
margin: 1em 1em 2em 1em;
padding: 0.5em 1em 0.5em 1em;
}
.anchor{
top: -9em;
}

/*footer*/
.footernavbar {
  padding: 0 0.5em 0 0.5em;
}
.footermenu {
  gap: 1em;
  font-size: 0.7em;
}
.social-icons {
  gap: 0.5em;
  font-size: 0.7em;
}
}


@media only screen and (max-width: 576px) {
main {
margin: 0;
padding-top: 5em;;
}
/*header*/
header{
height: 4.5em;
}
.navbar{
 padding: 0;
 margin: 0;
}
.menu {
font-size: 2em;
background-color: #444054;
width: 100%;
text-align: center;
padding: 0 !important;
display: none;
}
.grow{
margin-left: 0.5em;
}
.logo{
width: min(30vw, 3em);
}
.logoname{
font-size: 2em !important;
}
.hamburgermenu{
display: block;
cursor: pointer;
}
.menu li{
display: block;
padding: 0.5em;
border-bottom: 1px solid #2F243A;
}
.dropdown{
display: none !important;
}
#toggle:checked + .menu{
display: block ;
}

/*index*/
.landingpage {
margin-top: 1.5em;
height: 35vh;
}
.landingpage h1 {
  font-size: 2.5em;
}
.landingpage p {
  font-size: 1em;
  margin-bottom: 5em;
}
#my-pics {
width: 90% !important;
}

/*gallery*/
.gallery {
 margin: 0.5em;
}

/*about*/
.about, .story, .philosophy{
margin: 1em;
padding: 1em 0 1em 0;
}
.abouttext{
margin: 0.5em;
}
.imgabout{
width: 60%;
}

/*contact*/
.form{
padding: 0.5em;
}
.form, .details {
 margin: 0.5em;
}
.contact {
margin: 0.5em;
}
.mapouter, .gmap_canvas{
height: 20em;
}

/*menu*/
.navmenu{
top: 5em;
padding: 0.2em 0.5em 0.5em 0.5em;
font-size: 0.3em;
}
.menusection{
margin: 1em 0.3em 2em 0.3em;
padding: 0.5em 0.2em 0.5em 0.2em;
}

/*footer*/
.footernavbar {
  display: block;
  padding: 0 0.5em 0 0.5em;
}
.footermenu, .social-icons {
  flex: 100%;
  text-align: center;
  font-size: 0.7em;
}
}


