/* general */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
a {
 text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
.clickable:hover {
 transform: scale(1.1);
}
.clickable:hover a {
 text-decoration: none !important;
}
header, main, footer {
width: 100vw;
}

/* header */
header {
  position: sticky;
  top: 0;
  z-index: 5;
  border-bottom: 2px solid #FAC9B8;
  background-color: #2F243A;
}
header li {
 list-style-type: none;
}
.logo {
  background-color: inherit;
  width: min(50vw, 5em);
  position: relative;
}
.logoname {
  display: inline-block;
  padding-left: 0.1em;
  color: white !important;
  font-size: 3.5em !important;
  position: absolute;
  vertical-align: center;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    padding-left: 7em;
    padding-right: 7em;
}
.navbar .active {
  text-decoration: underline !important;
 background-color: blue;
}
.menu {
  display: flex !important;
  gap: 3em;
  font-size: 1.5em;
  padding-top: 0.5em !important;
}
.menu div {
position: relative;
}
.menu a {
  position: relative;
  color: white !important;
}
.food {
  position: relative;
}
.dropdown {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  border-top: 2px solid #2F243A;
  font-size: 0.8em;
  top: 100%;
  right: -100%;
  padding-left: 2em;
  width: 350%;
  text-align: center;
}
.dropdown a {
  display: block;
  background-color: #444054;
  color: white;
  border: 2px solid #2F243A;
  border-width: 0 2px 2px 2px;
  padding: 0.2em;
}
.food:hover .dropdown{
  display: inline-block;
  position: absolute;
 }
.menu a:hover, .navmenu a:hover{
  text-decoration: underline !important;
}

/*body*/
main {
  background-color: #FAC9B8;
  padding-top: 3em;
  padding-bottom: 3em;
}

.landingpage {
  margin-bottom: 3em;
  background-image: url(../img/berries.jpg);
  background-size: cover;
  height: 75vh;
  text-align: center;
  background-attachment: fixed;
}
.landingpage h1, .landingpage p{
  background: none;
  color: white;
}
.landingpage h1 {
  font-size: 8em;
  padding-top: 1em;
}
.landingpage p {
  font-size: 3em;
  padding-top: 0.5em;
}
.emphasize {
  color: #DB8A74;
  background: none;
}
.content {
  text-align: center;
  font-size: 3em;
}
.menubutton, .contactbutton, .gallerybutton{
  display: inline-block;
  text-align: center;
  font-size: 0.6em;
  border: 2px solid #2F243A;
  border-radius: 10px;
  margin: 0.5em;
  padding: 0.4em;
  background-color: #444054;
  color: white !important;
}
.button{
font-size: 1.3em;
margin: 1em 1em 3em 1em;
}
.name {
  font-family: "Allura";font-size: 22px;
}
.gallery {
 margin-left: 2em;
 margin-right: 2em;
}
.gallerytext {
 text-align: center;
 margin-top: 1em;
}


.about, .story, .philosophy{
font-size: 0.3em;
background-color: rgba(255, 255, 255, 0.4);
border-radius: 10px;
margin: 1em 3em 3em 3em;
display: flex;
justify-content: space-between;
align-items: center;
}
.aboutheading{
text-align: center;
}
.abouttext {
margin: 3em;
text-align: left;
}
.textwithlink{
text-align: center;
}
.imgabout{
width: 25em;
padding: 3em;
}


.navmenu {
font-size: 0.5em;
list-style-type: none;
display: flex;
align-items: center;
justify-content: space-between !important;
padding-left: 12em;
padding-right: 12em;
margin: 2em 0 5em 0;
}
.navmenuitem{
color: black !important;
}
.menusection{
/*border: 2px solid #2F243A;*/
background-color: rgba(255, 255, 255, 0.4);
border-radius: 10px;
margin: 1em 3em 2em 3em;
padding: 1em 3em 1em 3em;
}
.sectionheader{
display: inline-block;
background-color: #DB8A74;
border: 2px solid #2F243A;
border-radius: 10px;
margin: 0.5em;
padding: 0.4em;
}
.menucategory{
border-bottom: 2px solid #2F243A;
margin-top: 1em;
}
.menuitemlist{
text-align: left;
margin: 0.5em;
}
.menuitem{
font-size: 0.4em;
list-style-type: none;
}
.menuitemdesc{
font-size: 0.4em;
margin-left: 1em;
}
.anchor{
display: block;
position: relative;
top: -250px;
visibility: hidden;
}

/* footer */
footer {
  background-color: #2F243A;
  padding: 1em;
}
footer li {
 list-style-type: none;
}
.footernavbar {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 13em;
  padding-right: 13em;
}
.footermenu {
  display: flex;
  gap: 3em;
  font-size: 1em;
}
.footermenu a {
  color: white !important;
}
.social-icons {
  display: flex;
  gap: 1em;

}
footer img {
  height: 4em;
  padding: 0.5em;
}

