/* general */
* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Rockwell, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
}
.content{
width: 100% !important;
}
a {
 text-decoration: none !important;
}
a:hover {
  text-decoration: none !important;
}
.clickable:hover {
transform: scale(1.1);
}
.clickable:hover a {
 text-decoration: none !important;
}
header, main, footer {
width: 100% !important;
}
html{
scroll-behavior: smooth;
}
html, body {
height: 100%;
}
body, main, .content {
min-height: 100%;
}
#myBtn{
display: block;
visibility: hidden;
position: fixed;
z-index: 99;
cursor: pointer;
bottom: 2em;
right: 4em;
color: white;
background-color: #444054;
border: 2px solid #2F243A;
border-radius: 100%;
padding: 0.7em 0.75em 0.3em 0.75em;;
}
#myBtn:hover {
  background-color: #DA8C77;
}
#myBtn.show{
visibility: visible;
}

/* header */
header {
  position: fixed;
  top: 0;
  z-index: 35;
  height:5em;
  border-bottom: 2px solid #FAC9B8;
  background-color: #2F243A;
  width: 100% important;
}
header li {
 list-style-type: none;
}
.logo {
  background-color: inherit;
  width: min(35vw, 3.5em);
  position: relative;
}
.grow, .logo, .logoname {
font-family: 'Allura' !important;
color: white;
}
.grow:hover {
color: white;
}
.navbar .grow:hover{
transform: scale(1.01);
}
.logoname {
  display: inline-block;
  padding-left: 0.1em;
  color: white !important;
  font-size: 3em !important;
  position: absolute;
  vertical-align: center;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between !important;
    padding: 0 7em 0 7em;
}
.menu {
  display: flex;
  gap: 3em;
  font-size: 1.5em;
  padding-top: 0.5em !important;
}
.menu a {
  position: relative;
  color: white !important;
}
.food {
  position: relative;
}
.dropdown {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  border-top: 2px solid #2F243A;
  font-size: 0.8em;
  top: 100%;
  right: -100%;
  padding-left: 2em;
  width: 350%;
  text-align: center;
}
.dropdown a {
  display: block;
  background-color: #444054;
  color: white;
  border: 2px solid #2F243A;
  border-width: 0 2px 2px 2px;
  padding: 0.2em;
}
.food:hover .dropdown{
  display: inline-block;
  position: absolute;
 }
.menu a:hover, .navmenu a:hover{
  text-decoration: underline !important;
}
.active {
 text-decoration: underline !important;
 transform: scale(1.1);
}
.hamburgermenu, #toggle {
 text-align: right;
 font-size: 3em;
 margin-right: 0.5em;
 display: none;
}

/*body*/
main {
  background-color: #FAC9B8;
  padding-top: 8em;
  padding-bottom: 3em;
  width: 100% !important;
}

/*index*/
.landingpage {
  margin-bottom: 3em;
  background-image: url(../img/berries.jpg);
  background-size: 130% auto;
  background-repeat: no-repeat;
  height: auto;
  text-align: center;
  background-attachment: fixed;
}
.landingpage h1, .landingpage p{
  background: none;
  color: white;
}
.landingpage h1 {
  font-size: 8em;
  padding-top: 1.5em;
}
.landingpage p {
  font-size: 3em;
  padding: 0.5em 0 4em 0;
  font-family: Rockwell Light, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
  font-weight: lighter !important;
}
.emphasize {
  color: #DA8C77;
  background: none;
  font-family: Rockwell Light, "Courier New", Courier, Georgia, Times, "Times New Roman", serif;
  font-weight: lighter !important;
}
.content {
  text-align: center;
  font-size: 3em;
}
.quote {
text-align: center !important;
margin: 0.2em !important;
}
.menubutton, .contactbutton, .gallerybutton{
  display: inline-block;
  text-align: center;
  font-size: 0.6em;
  border: 2px solid #2F243A;
  border-radius: 10px;
  margin: 0.5em;
  padding: 0.4em;
  background-color: #444054;
  color: white !important;
}
.button{
font-size: 1.3em;
margin: 1em;
}
.aboutallpage .button {
margin-bottom: 3em;
}
.indexgallerybutton {
font-size: 0.45em;
}
.name {
font-family: "Allura" !important;
font-size: 22px;
}
#reviews{
margin-bottom: -0.5em !important;
}

/*gallery*/
.gallery {
 margin-left: 2em;
 margin-right: 2em;
}
.gallerytxt {
 text-align: center;
 margin-top: 1em;
}

/*about*/
.aboutall{
background-color: rgba(255, 255, 255, 0.4);
border-radius: 10px;
margin: 0 3.5em 1.5em 3.5em;
padding: 0.5em;
padding-top: 0.1em;
}
.aboutallpage {
padding: 0.5em 0 0 0;
}
.about, .story, .philosophy{
font-size: 0.35em;
display: flex;
justify-content: space-between;
align-items: center;
}
.story{
margin-bottom: -2em;
}
.aboutheading{
text-align: center;
margin: 0.5em 0.5em 0.5em 0.5em;
border-bottom: 2px solid #444054;
}
.abouttext {
margin: 3em;
text-align: left;
}
.textwithlink{
text-align: center;
flex: 75%;
}
.imgabout{
width: 25em;
padding: 3em;
flex: 25%;
}

/*menu*/
.navmenu {
position: sticky;
top:4em;
background-color: #FAC9B8;
font-size: 0.4em;
height: 3em;
list-style-type: none;
display: flex;
align-items: center;
justify-content: space-between !important;
padding: 0.5em 12em 0.5em 12em;
border-bottom: 1px solid #444054;
z-index: 15;
}
.navmenuitem{
color: black !important;
}
.menusection{
background-color: rgba(255, 255, 255, 0.4);
border-radius: 10px;
margin: 1em 5em 2em 5em;
padding: 1em 3em 1em 3em;
}
.sectionheader{
display: inline-block;
background-color: #DB8A74;
border: 2px solid #2F243A;
border-radius: 10px;
margin: 0.5em;
padding: 0.4em;
}
.menucategory{
border-bottom: 2px solid #2F243A;
margin-top: 1em;
}
.menuitemlist{
text-align: left;
margin: 0.5em;
}
.menuitem{
font-size: 0.4em;
list-style-type: none;
}
.menuitemdesc{
font-size: 0.4em;
margin-left: 1em;
}
.anchor{
display: block;
position: relative;
/*top: -11em;*/
visibility: hidden;
}

/*contact*/
.contact{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  padding-left: 7em;
  padding-right: 7em;
  font-size: 0.3em;
}
.contactform {
flex: 65%;
}
.form {
  display: grid;
  grid: auto auto auto auto auto auto auto auto auto / 50% 50%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius:0 0 10px 10px;
  padding: 3em 5em 1em 5em;
  margin: 0 1em 1em 1em;
}
.formheading{
margin: 0;
background-color: rgba(255, 255, 255, 0.4);
margin: 0 0.64em 0 0.64em;
padding: 0.75em 3.3em 0 3.3em;
border-radius: 10px 10px 0 0;
}
.formheading:after{
content: "";
display: block;
border-bottom: 1.5px solid #444054;
}
.formelelemnt {
  display: block;
  text-align: left;
}
.reason, .reasonlabel, .reasonselect {
  display: inline-block;
}
input, select, textarea {
  width: 100%;
  padding: 1em;
  margin: 1em;
  box-sizing: border-box;
  resize: vertical;
  vertical-align: middle;
}
.firstname, .date{
  width: 95%;
}
#datefield{
  resize: none;
}
.submit {
  text-align: center;
}

/* form grid */
.name, .surname {
  grid-row: 1/2;
}
.name, .date {
  grid-column: 1/2;
}
.surname, .time {
  grid-column: 2/3;
}
.email {
  grid-row: 2/3;
}
.reason {
  grid-row: 3/4;
}
.phone {
  grid-row: 4/5;
}
.message {
  grid-row: 6/7;
}
.commment {
  grid-row: 7/8;
}
.recaptcha {
  grid-row: 8/9;
  margin: 0.5em;
}
.submit {
  grid-row: 9/10;
  z-index: 10;
}
.submit input {
  width: auto;
}
.email, .reason, .phone, .message, .comment, .submit, .recaptcha {
 grid-column: 1/3;
}
.g-recaptcha {
display: inline-block;
}
.recaptcha {
text-align: center;
height: 5.5em;
}
:required:focus {
  border: 1px solid #DB8A74;
  outline: none;
}

.details{
  flex: 35%;
  margin: 1em;
  text-align: left;
}
.details a {
  color: black !important;
}
.details h1, .contactform h1{
  font-size: 1.5em;
}
.details .clickable:hover {
transform: scale(1.01);
}

.mapouter{
position:relative;
height: 13.5625em;
width: 28em;
}
.gmap_canvas {
overflow:hidden;
background:none!important;
height: 13.5625em;
width: 28em;
}
iframe {
width:100%;
height:100%;
}

.outcome {
margin: -2em 0 1em 0;
font-size: 0.5em; 
text-align: center;
}

/* error page */
.errormessage{
color: black;
margin: 1em;
}
.growerror{
display: block;
text-align: center !important;
font-size: 1em;
}
.errorlogo {
width: 2em;
display:inline-block;
margin: 0 !important;
}
.growerror:hover{
transform: scale(1.01);
}



/* footer */
footer {
position: absolute !important;
margin-bottom: 0 !important;
background-color: #2F243A;
padding: 1em;
width: 100% important;
}
footer li {
 list-style-type: none;
}
.footernavbar {
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0 10em 0 10em;
}
.footermenu {
  display: flex;
  flex: 70%;
  gap: 3em;
  font-size: 1em;
}
.footermenu a {
  color: white !important;
}
.social-icons {
  flex: 30%;
  text-align: right;
  padding: 0.5em;
}
footer img, .details img {
  height: 4em;
  padding: 0.5em;
}

/*responsiveness*/
@media only screen and (max-width: 1400px) {
.landingpage h1{
padding-top: 0.8em;
}
}
@media only screen and (max-width: 1112px) {
main {
margin: 0;
padding-top: 7em;
width: 100% !important;
}
#myBtn{
bottom: 1em;
right: 3em;
}
/*header*/
header{
width: 100% !important;
}
.navbar{
 padding: 0 1.5em 0 1.5em;
 font-size: 0.8em;
}

/*index*/
.landingpage {
margin-bottom: 1em;
padding-top: 2.5em;
height: auto;
background-image: url(../img/berriesmobile.jpg);
background-size: 100% auto;
}
.landingpage h1 {
  font-size: 4em;
  padding-top: 1em;
}
.landingpage p {
  font-size: 2em;
  padding-bottom: 4em;
}
#my-pics{
width: 80% !important;
}
#reviews{
width: 100% !important;
}

/*gallery*/
.gallery {
 margin: 0 0.5em 0.5em 0.5em;
}

/*about*/
.aboutall{
margin: 0 0.5em 0.5em 0.5em;
padding: 0.5em 0 0.5em 0;
}
.about, .story, .philosophy{
display: block;
}
.story{
margin-bottom: 0;
}
.abouttext{
margin: 1em;
}
.imgabout{
width: 40%;
padding: 0;
}
.button{
margin: 1em;
}
.philosophy .button {
margin-bottom: 0;
}

/*contact*/
.contact{
display: block;
margin: 0.5em;
margin-top: -3em !important;
}
.form, .details {
flex: 100%;
padding: 1.5em;
}
.formheading{
padding: 1.5em;
}
.contactform{
padding: 0.5em;
margin-top: 4em;
}
#datefield, #timefield{
display: block;
height: 70%;
}
.contact {
padding: 0;
margin: 1em;
}
.mapouter, .gmap_canvas{
height: 25em;
width: 100%;
}
.outcome{
padding: 0.5em 0 1.5em 0;
}

/*menu*/
.navmenu{
top: 5em;
padding: 0.7em 5.5em 0.7em 5.5em;
font-size: 0.3em;
}
.menusection{
margin: 1em 1em 2em 1em;
padding: 0.5em 1em 0.5em 1em;
}
.anchor{
/*top: -9em;*/
}

/*footer*/
footer{
width: 100% !important;
}
.footernavbar {
  padding: 0 0.5em 0 0.5em;
}
.footermenu {
  gap: 1em;
  font-size: 0.7em;
}
.social-icons {
  gap: 0.5em;
  font-size: 0.7em;
}
}


@media only screen and (max-width: 576px) {
main {
margin: 0;
padding-top: 6em;
width: 100% !important;
}
#myBtn {
bottom: 0.5em;
right: 1em;
}
/*header*/
header{
height: 4.5em;
width: 100% !important;
}
.navbar{
 padding: 0;
 margin: 0;
}
.menu {
font-size: 1.7em;
background-color: rgba(63, 64, 84, 0.97);
width: 100% !important;
text-align: center;
padding: 0 !important;
display: none;
}
header .grow{
margin-left: 0.5em;
}
.logo{
width: min(30vw, 3em);
}
.logoname{
font-size: 2em !important;
}
.hamburgermenu{
display: block !important;
cursor: pointer;
}
.menu li{
display: block;
padding: 0.3em;
border-bottom: 1px solid #2F243A;
}
.dropdown{
display: none !important;
}
#toggle:checked + .menu{
display: block ;
}

/*index*/
.landingpage {
margin-top: 0.5em;
background-size: 140% auto;
height: auto;
}
.landingpage h1 {
  padding-top: 1em;
  font-size: 3em;
}
.landingpage p {
  font-size: 1em;
  padding-bottom: 5em;
}
#my-pics {
width: 90% !important;
}
#reviews{
margin-bottom: -1em !important;
}
.menubutton, .contactbutton, .gallerybutton{
margin: 0.5em 0.1em 0.1em 0.1em;
}

/*gallery*/
.gallery {
 margin: 0 0.5em 0.5em 0.5em;
}

/*about*/
.aboutall{
margin: 0 0.25em 0.5em 0.25em;
padding: 0.25em 0 0.25em 0;
}
.about, .story, .philosophy{
margin: 0.1em;
padding: 0.5em 0 0.5em 0;
}
.abouttext{
margin: 0.5em;
}
.imgabout{
width: 60%;
}

/*contact*/
.form, .details {
padding: 0.5em;
}
.contactform{
padding: 0;
margin-top: 1.5em !important;
}
.formheading{
padding: 0.5em;
}
.contact {
margin: 0.5em;
}
.mapouter, .gmap_canvas{
height: 20em;
}

/*menu*/
.navmenu{
top: 5em;
padding: 0.2em 0.5em 0.5em 0.5em;
font-size: 0.3em;
height: 3.5em;
}
.menusection{
margin: 1em 0.3em 2em 0.3em;
padding: 0.5em 0.2em 0.5em 0.2em;
}
#onclickjuices, #onclickshakes, #onclickbowls, #onclicksavoury, #onclickdrinks{
width: 50% !important;
}

/*footer*/
footer{
width: 100% !important;
}
.footernavbar {
  display: block;
  padding: 0 0.5em 0 0.5em;
}
.footermenu, .social-icons {
  flex: 100%;
  text-align: center;
  font-size: 0.7em;
}

