<!DOCTYPE html>
<html>
{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}
<body>
{% block header %}
{{ super() }}
{% endblock %}
{% block main %}
<main>
<section class="content">
<section class="aboutall">
<h1 class="aboutheading">About us</h1>
<div class="about">
<div class="textwithlink">
<p class="abouttext">Grow opened in March 2017. We are a small cafe with a huge heart for both humans and animals.  We’re here to feed and nourish people with the best of a plant-based menu – featuring the highest quality ingredients available, creatively crafted and made with love. 
<br><br>Our staff prepare and serve food as if they were serving their own families – with the highest attention to quality, detail and care. There is something for everyone! That was the vision from the beginning - regardless of your dietary requirements, there is something delicious here for you.
<br><br>Want to find it out yourself?
</p>
<a href="/contact/" class="button contactbutton clickable">Contact us to book a table</a>
</div>
<img src="{{ url_for('static', filename='img/cafe.jpg') }}" class="imgabout">
</div></section>

<section class="aboutall">
<h1 class="aboutheading">Our philosophy</h1>
<div class="philosophy">
<img src="{{ url_for('static', filename='img/vegan.png') }}" class="imgabout">
<div class="textwithlink">
<p class="abouttext">We thrive to deliver fresh, healthy, vegan, 100% natural products, following a minimalistic approach. All dishes at our cafe are plant-based, gluten-free, and sugar-free. The majority of products that we use are locally-delivered, bio, organic, and low-processed. We want every person coming through our doors to leave inspired by plants, completely satisfied, and, most importantly, truly nourished.
<br><br>We are on a mission to try and reduce the pollution of our planet. All our takeaway boxes, bags, cups, cutlery, and napkins are 100% biodegradable. We compost and recycle all the waste that we produce when working. 
<br><br>Interested to know what food we offer?
</p>
<a href="/menu/" class="button menubutton clickable">View our menu</a>
</div>
</div></section>

<section class="aboutall">
<h1 class="aboutheading">Our story</h1>
<div class="story">
<div class="textwithlink">
<p class="abouttext">Grow started as a juice bar in March 2017. In June 2018 we started including more food options to our menu - smoothies, smoothie bowls, salads - all vegan and fresh. Since then we expanded our menu to some more complex plant-based dishes - keeping our initial fresh, low-processed foundation. Our philosophy remained the same throughout all of these years.
<br><br>Grow is a small, local place. The restaurant has been at the same location since it opened and has been one of the rare constants in a rapidly evolving neighbourhood.
<br><br>Fancy to see more mouth-watering photos of our food?</p>
<a href="/gallery/" class="button gallerybutton clickable">Check out our gallery</a>
</div>
<img src="{{ url_for('static', filename='food/food19.jpg') }}" class="imgabout">
</div></section>

</section>
</main>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
</body>
</html>
