<!DOCTYPE html>
<html>
{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}
<body class="index_body">
{% block header %}
{{ super() }}
{% endblock %}
{% block main %}
        <section class="landingpage">
          <h1 class="grow" data-aos="fade-down" data-aos-duration="1000" data-aos-offset="0">Grow</h1>
          <p data-aos="fade-up" data-aos-duration="1500" data-aos-offset="0">Eat well - <span class="emphasize">Live</span> well</p>
        </section>

        <section class="content">

<section class="aboutall">
<h1 class="aboutheading" data-aos="zoom-in" data-aos-duration="1500" data-aos-offset="0">Welcome to Grow!</h1>
<div class="about">
<div class="textwithlink" data-aos="fade-right" data-aos-duration="2000" data-aos-offset="0">
<p class="abouttext quote">“We believe in creating the best tasting food, by using only the highest quality, plant based produce. Our menu offers a wide variety - from juices, shakes, and other drinks - to smoothie bowls and savoury dishes. All sourced mostly locally from organic, small farms to best serve our local community.”</p>
<a href="/about/" class="button menubutton clickable">Read more about us</a>
</div></div></section>

<!--Carousel with reviews-->
<!--source: https://www.quackit.com/html/html_editors/scratchpad/?example=/bootstrap/bootstrap_3/tutorial/bootstrap_3_carousel-->
<div class="container fluid">
 <div id="reviews" class="carousel carousel-dark slide" data-bs-ride="carousel" style="width:85%;margin:auto" data-aos="fade-left" data-aos-duration="2000" data-aos-offset="0">

  <div class="carousel-inner">
	<div class="carousel-item active" data-bs-interval="3500">
	<img src="{{ url_for('static', filename='img/review1.svg') }}" alt="1" class="d-block w-100 review">
	</div>

	<div class="carousel-item" data-bs-interval="3500">
	<img src="{{ url_for('static', filename='img/review2.svg') }}" alt="2" class="d-block w-100">
	</div>

	<div class="carousel-item" data-bs-interval="3500">
	<img src="{{ url_for('static', filename='img/review3.svg') }}" alt="3" class="d-block w-100">
	</div>

	<div class="carousel-item" data-bs-interval="3500">
	<img src="{{ url_for('static', filename='img/review4.svg') }}" alt="4" class="d-block w-100">
	</div>
   </div>
<!-- Previous/Next controls -->
<button class="carousel-control-prev" data-bs-target="#reviews" type="button" data-bs-slide="prev">
<span class="carousel-control-prev-icon" aria-hidden="true"></span>
<span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" data-bs-target="#reviews" type="button" data-bs-slide="next">
<span class="carousel-control-next-icon" aria-hidden="true"></span>
<span class="visually-hidden">Next</span>
</button>
 </div>
</div>
<br>
<section class="aboutall">
<h1 class="aboutheading" data-aos="zoom-in" data-aos-duration="1500" data-aos-offset="0">Grow with us</h1>
<div class="about">
<div class="textwithlink" data-aos="fade-right" data-aos-duration="2000" data-aos-offset="0">
<p class="abouttext quote">Interested in experiencing or finding out more?</p>
<a href="/menu/" class="button menubutton clickable">See the menu</a>
<a href="/contact/" class="button contactbutton clickable">Contact us</a>
</div></div></section>

<!--Carousel with images-->
<div class="container-fluid">
<div id="my-pics" class="carousel slide carousel-fade" data-bs-ride="carousel" style="width:60%;margin:auto" data-aos="fade-left" data-aos-duration="2000" data-aos-offset="0">

<!-- Indicators -->
<div class="carousel-indicators">
<button type="button" data-bs-target="#my-pics" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
<button type="button" data-bs-target="#my-pics" data-bs-slide-to="1" aria-label="Slide 2"></button>
<button type="button" data-bs-target="#my-pics" data-bs-slide-to="2" aria-label="Slide 3"></button>
<button type="button" data-bs-target="#my-pics" data-bs-slide-to="3" aria-label="Slide 4"></button>
<button type="button" data-bs-target="#my-pics" data-bs-slide-to="4" aria-label="Slide 5"></button>
<button type="button" data-bs-target="#my-pics" data-bs-slide-to="5" aria-label="Slide 6"></button>
</div>

<div class="carousel-inner">
<div class="carousel-item active" data-bs-interval="3500">
<img src="{{ url_for('static', filename='food/food23.jpg') }}" alt="1" class="d-block w-100">
</div>

<div class="carousel-item" data-bs-interval="3500">
<img src="{{ url_for('static', filename='food/food10.jpg') }}" alt="2" class="d-block w-100">
</div>

<div class="carousel-item" data-bs-interval="3500">
<img src="{{ url_for('static', filename='food/food16.jpg') }}" alt="3" class="d-block w-100">
</div>


<div class="carousel-item" data-bs-interval="3500">
<img src="{{ url_for('static', filename='food/food6.jpg') }}" alt="4" class="d-block w-100">
</div>

<div class="carousel-item" data-bs-interval="3500">
<img src="{{ url_for('static', filename='food/food12.jpg') }}" alt="5" class="d-block w-100">
</div>

<div class="carousel-item" data-bs-interval="3500">
<img src="{{ url_for('static', filename='food/food24.jpg') }}" alt="6" class="d-block w-100">
</div>
</div>

</div>
</div>

<a href="/gallery/" class="gallerybutton indexgallerybutton clickable" data-aos="zoom-in" data-aos-duration="2000" data-aos-offset="0">See more photos in our gallery</a>

</section>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}
</body>
</html>
